@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular/Degular-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular/Degular-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular/Degular-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular/Degular-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

/* Styles spécifiques pour App */
body {
  background-color: #FFF3E6;
  font-family: 'Degular', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  align-items: center;
}

.help-section-enter {
  visibility: hidden;
  opacity: 0;
}
.help-section-enter-active {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms, visibility 0ms 200ms;
}
.help-section-exit {
  visibility: visible;
  opacity: 1;
}
.help-section-exit-active {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms, visibility 0ms 200ms;
}

.search-container {
  max-width: 75vh;
  margin: 0 auto;
}

.info-container {
  margin-top: 2rem;
}

.business-info-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#google-review-image {
  width: 100%;
  max-width: 226px;
  height: auto;
}

#follow-instruction {
  width: 100%;
  max-width: 100px;
  margin: 50px auto;
  transform: rotate(150deg);
}
